@model IEnumerable<DotNetAppSqlDb.Models.Account>
@{ ViewBag.Title = "GetAccounts"; }

<h2>領號</h2>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                帳號
            </th>
            <th scope="col">
                密碼
            </th>
            <th scope="col">
                搶投/普通
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.AccountId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Password)
    </td>

    @if (item.AccountType == "Urgent")
    {
    <td>
        <p style="color:red;">搶投 </p>
    </td>
    }
    else
    {
    <td>
        <p>普通 </p>
    </td>
    }
</tr>
}

</table>

<p>
    @Html.ActionLink("再次取號", "Index", null, new { @class = "btn btn-primary" })
</p>